** Python break statement **

The break statement terminates the loop containing it. Control of the program flows to the statement immediately after the body of the loop.

In [1]:
for val in "string":
    if val == "i":
        break
    print(val)

print("The end")

s
t
r
The end

** Python continue statement **

The continue statement is used to skip the rest of the code inside a loop for the current iteration only. Loop does not terminate but continues on with the next iteration.

In [3]:
for val in "string":
    if val == "i":
        continue
    print(val)

print("The end")

s
t
r
n
g
The end

** How to reorder pandas DataFrame columns **

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randn(6,4), columns = ['A','B','C','D'])

In [3]:
df

          A         B         C         D
0  1.145028  0.816531 -1.129963  0.140174
1  1.196880  0.906171  1.471567  1.335498
2 -0.323545 -0.920347 -1.189202 -1.404995
3  0.350482  0.340804 -0.375657 -1.538199
4 -0.979499  0.253626  0.371492 -1.742907
5 -0.036252  0.402485  0.033607 -0.666633

Method 1

In [4]:
df[['D','A','B','C']]

          D         A         B         C
0  0.140174  1.145028  0.816531 -1.129963
1  1.335498  1.196880  0.906171  1.471567
2 -1.404995 -0.323545 -0.920347 -1.189202
3 -1.538199  0.350482  0.340804 -0.375657
4 -1.742907 -0.979499  0.253626  0.371492
5 -0.666633 -0.036252  0.402485  0.033607

Method 2

In [5]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [6]:
cols = df.columns.tolist()

In [7]:
cols

['A', 'B', 'C', 'D']

In [8]:
cols = cols[-1:] + cols[:-1]

In [9]:
cols

['D', 'A', 'B', 'C']

In [10]:
df[cols]

          D         A         B         C
0  0.140174  1.145028  0.816531 -1.129963
1  1.335498  1.196880  0.906171  1.471567
2 -1.404995 -0.323545 -0.920347 -1.189202
3 -1.538199  0.350482  0.340804 -0.375657
4 -1.742907 -0.979499  0.253626  0.371492
5 -0.666633 -0.036252  0.402485  0.033607