<a href="https://colab.research.google.com/github/mingma1369/Python/blob/main/Merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

In [ ]:
   dframe1=DataFrame({'key':['X','Z','Y','Z','X','X'],'data_set_1':np.arange(6)})
   dframe1

  key  data_set_1
0   X           0
1   Z           1
2   Y           2
3   Z           3
4   X           4
5   X           5

In [ ]:
dframe2=DataFrame({'key':['Q','Y','Z'],'data_set_2':[1,2,3]})
dframe2

  key  data_set_2
0   Q           1
1   Y           2
2   Z           3

In [ ]:
pd.merge(dframe1,dframe2)

  key  data_set_1  data_set_2
0   Z           1           3
1   Z           3           3
2   Y           2           2

In [ ]:
pd.merge(dframe1,dframe2,on='key')

  key  data_set_1  data_set_2
0   Z           1           3
1   Z           3           3
2   Y           2           2

In [ ]:
pd.merge(dframe1,dframe2,how='left',on='key')

  key  data_set_1  data_set_2
0   X           0         NaN
1   Z           1         3.0
2   Y           2         2.0
3   Z           3         3.0
4   X           4         NaN
5   X           5         NaN