<a href="https://colab.research.google.com/github/mingma1369/Python/blob/main/RUTR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [14]:
rutr=pd.read_csv('/content/RUTR/RUTR_DATASET.csv',error_bad_lines=False)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [15]:
rutr.shape

(900650, 13)

In [17]:
rutr.head(3)

,STORE_ID,LOCATION,TRANSACTION_DT,PURCHASE_TYPE,REDEMPTION_TYPE,ADD_ON_TYPE,ASSOCIATE_ID,CLIENT_ID,REDEMPTION_VALUE,ADD_ON_VALUE,TRANSACTION_VALUE,Time Period,STORE_ID.1
0,5608,URBAN,01Aug2014,REGULAR,NaN,NaN,1S3,12U1,0.0,0.0,12.84,Pre-RUTR,5608
1,5608,URBAN,01Aug2014,REGULAR,NaN,NaN,1S3,102U1,0.0,0.0,9.25,Pre-RUTR,5608
2,5608,URBAN,01Aug2014,REGULAR,NaN,NaN,1S3,109U1,0.0,0.0,11.24,Pre-RUTR,5608

In [18]:
rutr.dtypes

STORE_ID               int64
LOCATION              object
TRANSACTION_DT        object
PURCHASE_TYPE         object
REDEMPTION_TYPE       object
ADD_ON_TYPE           object
ASSOCIATE_ID          object
CLIENT_ID             object
REDEMPTION_VALUE     float64
ADD_ON_VALUE         float64
TRANSACTION_VALUE    float64
Time Period           object
STORE_ID.1             int64
dtype: object

In [19]:
rutr1=rutr.drop_duplicates()

In [20]:
rutr1.shape

(900624, 13)

In [21]:
rutr.describe()

,STORE_ID,REDEMPTION_VALUE,ADD_ON_VALUE,TRANSACTION_VALUE,STORE_ID.1
count,900650.000000,900650.000000,900650.000000,900650.000000,900650.000000
mean,53598.086439,0.075027,0.062897,9.588825,53598.086439
std,28265.744222,0.323682,0.377298,3.385678,28265.744222
min,5608.000000,0.000000,-0.270000,-4.370000,5608.000000
25%,25157.000000,0.000000,0.000000,7.550000,25157.000000
50%,57907.000000,0.000000,0.000000,9.780000,57907.000000
75%,79514.000000,0.000000,0.000000,11.890000,79514.000000
max,93968.000000,2.000000,7.020000,23.290000,93968.000000

In [22]:
rutr.LOCATION.unique()

array(['URBAN', 'SUBURBAN', 'RURAL'], dtype=object)

In [23]:
rutr.PURCHASE_TYPE.unique()

array(['REGULAR', 'REDEMPTION'], dtype=object)

In [24]:
rutr.Time Period.unique()

SyntaxError: ignored