In [17]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

import math as m
import datetime as dt
import pandas as pd

In [3]:
a=1
a
a+1

1

2

In [6]:
n=m.floor(float(input('please input the numer for calculation')))

factorial=1

if n<0:
    print ('no factorial for negative numbers')

elif n==0:
    print(factorial)

else:
    for num in range(1,n+1):
        factorial*=num
    print(factorial)

please input the numer for calculation-3.1
no factorial for negative numbers

In [28]:
df=pd.DataFrame({'a':[4,5,6],'b':[7,8,9],'c':[10,11,12]},index = [1,2,3])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [27]:
df=df.reset_index()
df

   index  a  b   c
0      1  4  7  10
1      2  5  8  11
2      3  6  9  12