# Lec 2- List, Set, Dictionary, Tuple

In [85]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
# 'all, last, last_expr(default), none, last_expr_or_assign'

## 1. Data types other than Int, Float, Boolean, String

In [ ]:
# Introduction to Data Types

str_eg = 'this is a string'

#list
fruits = ["apple", "mango", "orange"] 

#tuple
numbers = (1, 2, 3) 

#dictionary
# 'a', key; 'apple', value; key-value pair
alphabets = {'a':'apple', 'b':'ball', 'c':'cat'} 

#set, no order no duplicate
vowels = {'a', 'e', 'i' , 'o', 'u'} 

print(str_eg)
print(fruits)
print(numbers)
print(alphabets)
print(vowels)

## 2 List

In [ ]:
a = [1, 2.2, 'python']

a

In [86]:
fruit_list = ['banana', 'pear', 'strawberry', 'strawberry ice cream']

fruit_list[3]

'strawberry ice cream'

### 2.1 List-建立

In [ ]:
# empty list

my_list = []
my_list

# list of integers
my_list = [1, 2, 3]
my_list

# list with mixed datatypes
my_list = [1, "Hello", 3.4]
my_list

In [ ]:
[1, 2, 3]
[1, 2,      3]
[1,    2, 3]

In [90]:
# mixed list

number_list = [10, 20, 30, 40]
fruit_list = ['banana', 'pear', 'strawberry', 'strawberry ice cream']
mixed_list = [10, 38.88, 'pineapple',['banana', 20]]

mixed_list[2]
mixed_list[2][-1]

mixed_list[3]
mixed_list[3][0]
mixed_list[3][0][0]

'pineapple'

'e'

['banana', 20]

'banana'

'b'

#### 2.1.1 List Operations

In [ ]:
x = [1, 2, 3]
y = [4, 5, 6]

z= x + y

z

In [ ]:
[0] * 4

[1, 2, 3] * 3

In [ ]:
len(x)

3 in x

### 2.2 List-查

In [ ]:
t = ['a', 'b', 'c', 'd', 'e', 'f'] 

t[1]
t[1:2]

t[1:3]
t[:4]
t[3:]
t[:]

In [ ]:
number_list = [10, 20, 30, 40]
number_list[0]
number_list[1]
number_list[1:]
number_list[1:2]
number_list[1:3]
number_list[::2]
number_list[1::2]

In [ ]:
guests = ['Christopher', 'Susan', 'Bill', 'Satya']

# print the last entry in the list
print(guests[-1])

# print the second last entry in the list
print(guests[-2])

In [ ]:
# Nested List
n_list = ["Happy", [2,0,1,5]]

# Nested indexing

print(n_list[0][1])
print(n_list[1][3])

In [ ]:
my_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

my_list[1][1]
my_list[2][2]



my_list = [[[0, 0, 1], 2, 3], [4, 5, 6], [7, 8, 9]]

my_list[0][0][1]

### 2.3 List-增

In [91]:
# append()

guests = ['Christopher', 'Susan', 'Bill', 'Satya']

# add a new value to the end of the list
guests.append('Steve')

#display the last value in the list
print(guests[-1])


guests.append([1,2,3])
guests

Steve

['Christopher', 'Susan', 'Bill', 'Satya', 'Steve', [1, 2, 3]]

In [92]:
# extend()

t1 = ['a', 'b', 'c']  # recommended over +
t2 = ['d', 'e']
t1.extend(t2)

t1
t2

['a', 'b', 'c', 'd', 'e']

['d', 'e']

In [93]:
t1.extend('xyz')
t1

['a', 'b', 'c', 'd', 'e', 'x', 'y', 'z']

In [ ]:
# insert()

aList = [123, 'xyz', 'zara', 'abc']
aList.insert(3, 2009)
print("Final List : ", aList)

### 2.4 List-改

In [ ]:
t = ['a', 'b', 'c', 'd', 'e', 'f'] 

t[1:3] = ['x', 'y']
t

In [ ]:
mixed_list = [10, 38.88, 'pineapple',['banana',20]]
mixed_list[2] = 100
mixed_list


mixed_list [1] = 'apple'
mixed_list

### 2.5 List-删

In [ ]:
# pop()

t = ['a', 'b', 'c']
x = t.pop(1)

t
x

In [ ]:
# remove()

t = ['a', 'b', 'c']
t.remove('b') 

t

In [ ]:
# remove()

guests = ['Christopher', 'Susan', 'Bill', 'Satya']

guests.remove('Christopher')
print(guests[0])

In [ ]:
# del()

t = ['a', 'b', 'c', 'd', 'e', 'f']

del t[1:5]

t

### 2.6 List- Other methods

In [ ]:
# sort()

aList = ['xyz', 'zara', 'abc', 'xyz']
aList.sort()

aList

In [ ]:
# reverse()

aList = [123, 'xyz', 'zara', 'abc', 'xyz']
aList.reverse()

aList

In [ ]:
aList = [123, 'xyz', 'zara', 'abc', 'xyz']
aList[::-1]

In [94]:
# index()

guests = ['Christopher', 'Susan', 'Bill', 'Satya', 'Bill', 'Bill']

# this will return the index in the list
# where the name Bill is found

print(guests.index('Bill'))  # Find only the first
guests.index('Kevin')

2

ValueError: 'Kevin' is not in list

In [95]:
aList = [123, 'xyz', 'zara', 'abc']

print("Index for xyz : ", aList.index('xyz'))
print("Index for zara : ", aList.index('zara'))

Index for xyz :  1
Index for zara :  2

In [ ]:
names = ['Chris', 'James']
ages = [18, 16]
weights = [150, 170]

James_index = names.index('James')
print('Hi', names[James_index], ': your age is ', ages[James_index], 'and your weight is ', weights[James_index])

In [ ]:
# count()

aList = [123, 'xyz', 'zara', 'abc', 123]

print ("Count for 123 : ", aList.count(123))
print ("Count for 123 : ", aList.count('zara'))

In [ ]:
# min

list1, list2 = [123, 'xyz', 'zara', 'abc'], [456, 700,200]

#print ("min value element : ", min(list1))
print ("min value element : ", min(list2))

In [ ]:
# max

list1, list2 = [123, 'xyz', 'zara', 'abc'], [456, 700,200]

#print ("min value element : ", max(list1))
print ("min value element : ", max(list2))

In [ ]:
# list() 也是一种建立list的方法

s = 'banana'
t = list(s) 

t

In [ ]:
# split 也是一种建立list的方法

s = 'Eat more bananas, will u?'
t = s.split()
t


s = 'bananas-are-good-for-you'
delimiter = '-'
t = s.split(delimiter)
t


array_num = '18_16_15'
delimiter = '_'
t = array_num.split(delimiter)
t

In [ ]:
# join 从list变为string

t = ['bananas', 'are', 'good', 'for', 'you']
delimiter = ' '

s = delimiter.join(t)
s

### 2.7 Aliasing & Cloning

In [ ]:
a = [1, 2, 3]
b = a

print(a == b)
print(a is b)

In [ ]:
b[0] = 4

print(b)
print(a)

In [ ]:
# another example

a = [1, 2, 3]
b = [1, 2, 3]

a == b  # true
a is b  # false

In [ ]:
a = ['1', 1,1.0]
temp = a
temp [1] = True  # a, temp, same object

a
temp

In [ ]:
# from aliasing to cloning 这个是推荐的写法！
# 切片永远都会产生一个全新的list

a = ['1', 1,1.0]
temp = a[:]  # cloning

temp [1] = True  # a, temp, same object

a
temp

In [ ]:
# a unchanged, temp []

a = ['1', 1,1.0]
temp = a

# a == temp
# a is temp

temp = []

# a == temp
# a is temp

a
temp

In [ ]:
a = ['1', 1,1.0]

temp = a
temp = temp*2

a
temp

## 3. Set

In [96]:
a = {5,2,3,1,4} # printing set variable 

print("a = ", a)
print(type(a))

a = {1,2,2,3,3,3}
a

a =  {1, 2, 3, 4, 5}
<class 'set'>

{1, 2, 3}

In [ ]:
# Every element is unique

my_set = {1,2,3,4,3,2} 
print(my_set)

my_set = set([1,2,3,2]) 
print(my_set)

### 3.1 Set-建立

In [97]:
# set of integers 
my_set = {1, 2, 3} 
print(my_set)

# set of mixed datatypes
my_mixed_set = {1.0, "Hello", (1, 2, 3)} 
print(my_mixed_set)

weird_set = set("A weird set") 
print(weird_set)

{1, 2, 3}
{1.0, (1, 2, 3), 'Hello'}
{'s', ' ', 'd', 'w', 'A', 't', 'e', 'i', 'r'}

In [98]:
# initialize a with {} 
a = {}
# check data type of a
print(type(a))


# initialize a with set()
a= set()
# check data type of a
print(type(a))

<class 'dict'>
<class 'set'>

### 3.2 Set-查

In [99]:
# initialize my_set 
my_set = {1,3} 
print(my_set)

# if you uncomment the following line, you will get an error, no index for set # add an element
my_set[0]

{1, 3}

TypeError: 'set' object is not subscriptable

### 3.3 Set-增

In [100]:
# add()

my_set = {1,3} 
print(my_set)

my_set.add(2) 

# Output: {1, 2, 3} 
print(my_set)

{1, 3}
{1, 2, 3}

In [101]:
# add multiple elements 

my_set.update([2,3,4]) 
print(my_set)


# add list and set
my_set.update([4,5], {1,6,8}) 
print(my_set)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

### 3.4 Set-改

In [102]:
my_set = {1,3} 

my_set[1]=2
my_set[1]

TypeError: 'set' object does not support item assignment

### 3.5 Set-删

In [103]:
# initialize my_set
my_set = {1, 3, 4, 5, 6} 
print(my_set)

# discard an element
my_set.discard(4) 
print(my_set)

# remove an element
my_set.remove(6) 
print(my_set)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}

In [104]:
# discard an element not present in my_set
my_set.discard(2) 
print(my_set)

{1, 3, 5}

In [105]:
# remove an element not present in my_set
my_set.remove(2) 
print(my_set)

KeyError: 2

In [ ]:
# initialize my_set
# Output: set of unique elements 

my_set = set("HelloWorld") 
print(my_set)

# pop an element randomly

my_set.pop()
my_set

In [ ]:
# pop another element

my_set.pop() 
print(my_set)

# clear my_set #Output: set() 

my_set.clear() 
print(my_set)

### 3.6 Set Operations

In [ ]:
# set operations

A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [ ]:
# use | operator; 
# Output: {1, 2, 3, 4, 5, 6, 7, 8}
A | B
A.union(B)
B.union(A)

In [ ]:
# use & operator
# Output: {4, 5}
A & B
A.intersection(B)
B.intersection(A)

In [ ]:
# use - operator on A 
A - B
A.difference(B)

In [ ]:
# use - operator on B
B - A
B.difference(A)

In [ ]:
# use ^ operator
A^B
A.symmetric_difference(B)
B.symmetric_difference(A)

### 3.7 Set- Other Methods

In [ ]:
# initialize my_set 
my_set = set("apple")
print(my_set)

# check if 'a' is present # Output: True
print('a' in my_set)

# check if 'p' is present # Output: False
print('p' not in my_set)

In [ ]:
# initialize my_set 
my_set = set(["apple"]) 
print(my_set)

# check if 'a' is present # Output: False
print('a' in my_set)

## 4. Dictionary

In [106]:
D = {'SAS': 'Extraction, Analytics, Visualization', 
     'Excel': 'Analytics, Visualization', 
     'CFA': 'Financial Industry, Certification, Portfolio Management', 
     'FRM': 'Financial Industry, Certification, Risk Management', 
     'Python': 'Analytics, Visualization, Machine Learning, Big Data'}
D
type(D)

{'SAS': 'Extraction, Analytics, Visualization',
 'Excel': 'Analytics, Visualization',
 'CFA': 'Financial Industry, Certification, Portfolio Management',
 'FRM': 'Financial Industry, Certification, Risk Management',
 'Python': 'Analytics, Visualization, Machine Learning, Big Data'}

dict

In [107]:
#访问/查字典
D['SAS'] #slicing用方括号
D['Python'] #slicing用方括号

'Extraction, Analytics, Visualization'

'Analytics, Visualization, Machine Learning, Big Data'

In [108]:
#修改
D['SAS']='Extraction, Analytics, Visualization, Big Data'
D['SAS']

'Extraction, Analytics, Visualization, Big Data'

In [ ]:
# %% intro to dictionary

eng2sp = {}
eng2sp['one'] = 'uno'
print(eng2sp)

eng2sp['two'] = 'dos'
print(eng2sp)

eng2sp['three'] = 'tres'
print(eng2sp)

### 4.1 Dictionary-建立

In [ ]:
# empty dictionary 
my_dict = {} 
type(my_dict)
print(my_dict)

# dictionary with integer keys 
my_dict = {0: 'apple', 1: 'ball'} 
type(my_dict)
print(my_dict)
my_dict[0]
my_dict[1]




# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}
type(my_dict)
print(my_dict)

In [ ]:
# using dict()
my_dict = dict({1:'apple', 2:'ball'}) 
type(my_dict)
print(my_dict)


# from sequence having each item as a pair 
my_dict = dict([(1,'apple'), (2,'ball')]) 
type(my_dict)
print(my_dict)

### 4.2 Dictionary-查

In [ ]:
dict_eg = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

print("dict['Name']: ", dict_eg['Name'])
print("dict['Age']: ", dict_eg['Age'])

### 4.3 Dictionary-增

In [ ]:
dict_eg = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print(dict_eg)

dict_eg['School'] = "DPS School" # Add new entry
print(dict_eg)

print("dict['School']: ", dict_eg['School'])

In [ ]:
dict = {'Name': 'Zara', 'Age': 7} 
dict2 = {'Sex': 'female'}

dict.update(dict2)
dict

### 4.4 Dictionary-改

In [ ]:
# %% modify key-value pair

inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}
inventory['pears'] = 0

inventory


inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}
inventory['bananas'] = inventory['bananas']+200
inventory

numItems = len(inventory)
numItems

In [ ]:
my_dict = {'name':'Jack', 'age': 26}
my_dict['age'] = 27 # update value
print(my_dict) 


my_dict['address'] = 'Downtown'	# add item 
print(my_dict)

### 4.5 Dictionary-删

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict['Name'] # remove entry with key 'Name’
print(dict)

dict.pop('Age')
dict

dict.clear()     # remove all entries in dict
print(dict)

del dict        # delete entire dictionary
dict
print(dict)

In [ ]:
inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}
del inventory ['pears']

inventory

### 4.6 Dictionary- Other Methods

In [109]:
# keys(), values(), items()

inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}

print(inventory.keys())
print(inventory.values())
print(inventory.items())

dict_keys(['apples', 'bananas', 'oranges', 'pears'])
dict_values([430, 312, 525, 217])
dict_items([('apples', 430), ('bananas', 312), ('oranges', 525), ('pears', 217)])

In [110]:
print(list(inventory.keys()))
print(list(inventory.values()))
print(list(inventory.items()))

['apples', 'bananas', 'oranges', 'pears']
[430, 312, 525, 217]
[('apples', 430), ('bananas', 312), ('oranges', 525), ('pears', 217)]

In [ ]:
for	(k,v) in inventory.items():
    print("Got", k, "that maps to", v)

In [111]:
# in
inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}

print('apples' in inventory)
print('cherries' in inventory)

True
False

In [ ]:
entry = 'pineapple'
if entry in inventory:
    print(inventory[entry]) 
else:
    print("We have no", entry)

In [112]:
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

print(1 in squares)
print(2 not in squares)

# membership tests for key only not value
print(49 in squares)

True
True
False

In [ ]:
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
for i in squares:  # key at each iteration stored in i
    print(squares[i])  # extract value only

In [113]:
# get()

inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}


print(inventory.get("apples"))

print(inventory.get("cherries"))  # output: None

#print(inventory['cherries'])

print(inventory.get("cherries", 0))  # Default value, overwrite
print(inventory.get("apples", 0))
print(inventory.get("cherries"))

430
None
0
430
None

In [ ]:
#setdefault()

dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" % dict.setdefault('Age', None)) # overwritten
print ("Value : %s" % dict.setdefault('Sex', None))

In [ ]:
# copy()

dict1 = {'Name': 'Zara', 'Age': 7}
dict2 = dict1.copy()
print("New Dictionary : %s" % str(dict2))

In [ ]:
# nested dictionary

people = {'A': {'name': 'John', 'age': '27', 'sex': 'Male'},
          'B': {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

people['B']['sex']

In [ ]:
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}
    
people[3] = {}
people[3]['name'] = 'Luna'
people[3]['age'] = '24'
people[3]['sex'] = 'Female'
people[3]['married'] = 'No'

print(people[3])
people

del people[3]['married']
print(people[3])
people

### List(在内的mutable)不可以做dict的key，也不可以放进set

In [114]:
dict={[1,2] : 'abc'}

TypeError: unhashable type: 'list'

In [115]:
set={[1, 2, 3]}

TypeError: unhashable type: 'list'

In [ ]:
dict = {(1,2) : 'abc'}
dict

s={(1,2,3)}
s

## 5. Tuple

In [ ]:
t = (5,'program', 1+3j)

t[1]

#t[0]=3

### 5.1 Tuple-建立

In [ ]:
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5 );
tup3 = "a", "b", "c", "d";

type(tup3)

In [116]:
# only parentheses is not enough

tup1 = (50);
type(tup1)

tup1 = (50,)
type(tup1)



my_tuple = ("hello")
type(my_tuple)

my_tuple = ("hello",)
type(my_tuple)

int

tuple

str

tuple

### 5.2 Tuple-查

In [117]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

### 5.3 Tuple-增

In [ ]:
tup1 = (12, 34.56);
tup1[0]=100

tup2 = ('abc', 'xyz');

tup3 = tup1+tup2;
tup3

In [ ]:
# Concatenation
print((1, 2, 3)+(4, 5, 6))

# Repeat
print(("Repeat",) * 3)

### 5.4 Tuple-改

In [122]:
tup1 = (12, 34.56);
# Following action is not valid for tuples 

# tup1[0] = 100; 
# generate an error

# tup1.append(100)

AttributeError: 'tuple' object has no attribute 'append'

### 5.5 Tuple-删

In [ ]:
tup = ('physics', 'chemistry', 1997, 2000)
print (tup)
del tup

print ("After deleting tup : ")
print (tup)

In [ ]:
tup = ('physics', 'chemistry', 1997, 2000)
del tup[1]  # error, unsupported

### 5.6 Tuple- Other Methods

In [ ]:
# nested tuple
n_tuple = ("mouse", [8, 4, 6], (1, 2, 3)) 
print(n_tuple[0][3]) # Output: 's'

# nested index 
print(n_tuple[1][1]) # Output: 4

In [ ]:
#count and index

my_tuple = ('a','p','p','l','e',)


# Count
print(my_tuple.count('p')) # Output: 2

# Index
print(my_tuple.index('l')) # Output: 3

In [ ]:
# membership test

my_tuple = ('a','p','p','l','e',) 

# In operation
print('a' in my_tuple)
print('b' in my_tuple)
print('g' not in my_tuple)

In [ ]:
# tuple function
tuple1=tuple([1,3,5,7,9])
tuple1

In [ ]:
tuple2=tuple('hello world')
tuple2

In [ ]:
tuple3=tuple(['hello world'])
tuple3

In [ ]:
tuple4=tuple({'Name': 'Zara', 'Age': 7})
tuple4