# Lec 2- List, Set, Dictionary, Tuple

In [8]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
# 'all, last, last_expr(default), none, last_expr_or_assign'

## 1. Data types other than Int, Float, Boolean, String

In [ ]:
# Introduction to Data Types


str_eg = 'this is a string'

fruits = ["apple", "mango", "orange"] #list
numbers = (1, 2, 3) #tuple
alphabets = {'a':'apple', 'b':'ball', 'c':'cat'} #dictionary
# 'a', key; 'apple', value; key-value pair

vowels = {'a', 'e', 'i' , 'o', 'u'} #set, no order no duplicate

print(str_eg)
print(fruits)
print(numbers)
print(alphabets)
print(vowels)

## 2 List

In [9]:
a = [1, 2.2, 'python']

a

[1, 2.2, 'python']

[1, 2, 3, 4, 5, 6]

In [1]:
fruit_list = ['banana', 'pear', 'strawberry', 'strawberry ice cream']

fruit_list[3]

'strawberry ice cream'

## 2.1 List-建立

In [ ]:
# empty list

my_list = []

# list of integers
my_list = [1, 2, 3]

# list with mixed datatypes
my_list = [1, "Hello", 3.4]

In [17]:
[1, 2, 3]
[1, 2,      3]
[1,    2, 3]

[1, 2, 3]

[1, 2, 3]

[1, 2, 3]

In [6]:
# mixed list

number_list = [10, 20, 30, 40]
fruit_list = ['banana', 'pear', 'strawberry', 'strawberry ice cream']
mixed_list = [10, 38.88, 'pineapple',['banana', 20]]

mixed_list[3]
mixed_list[2]

['banana', 20]

'pineapple'

In [ ]:




[1, 2, 3]
[1, 2, 3]
[1, 2,      3]
[1,    2, 3]

[1, 2, 3] == [1, 2, 3]
[1, 2, 3] is [1, 2, 3]
a = [1, 2, 3]
b = [1, 2, 3]
a == b  # true
a is b  # false

a = [1,    2, 3]
b = [1, 2, 3]
a == b  # true
a is b

a = [1,    2, 3]
c = a  # true
a is c

'1,2,3'
'1,2, 3'
'1, 2,      3'
'1,    2, 3'

# %%

a = [1, 'hi', 1.0, True]
b = [1, 'hi', 1.0,      True]
c = a
a[1]
b[1]
c[1]

a[1] = 2
a[1]
b[1]
c[1]

temp = a
x = temp
x = x*2  # create a new address


e = "1, 'hi', 1.0, True"
f = "1, 'hi', 1.0,      True"




# %%

list1, list2 = [123, 'xyz', 'zara', 'abc'], [456, 700, 200]
print("min value element : ", min(list1))  # error
print("min value element : ", min(list2))





# display the last value in the list
print(guests[-1])

### 2.1.1 List Operations

In [2]:
x = [1, 2, 3]
y = [4, 5, 6]

z= x + y

z

[1, 2, 3, 4, 5, 6]

In [4]:
[0] * 4

[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [6]:
len(x)

3 in x

True

## 2.2 List-查

In [9]:
t = ['a', 'b', 'c', 'd', 'e', 'f'] 

t[1:3]
t[:4]
t[3:]
t[:]

['b', 'c']

['a', 'b', 'c', 'd']

['d', 'e', 'f']

In [ ]:
number_list = [10, 20, 30, 40]
number_list[0]
number_list[1]
number_list[1:]
number_list[1:2]
number_list[1:3]
number_list[::2]
number_list[1::2]

guests = ['Christopher', 'Susan', 'Bill', 'Satya']

# print the last entry in the list
print(guests[-1])

# print the second last entry in the list
print(guests[-2])

In [11]:
# Nested List
n_list = ["Happy", [2,0,1,5]]

# Nested indexing

print(n_list[0][1])
print(n_list[1][3])

a
5

In [ ]:


my_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

my_list[1][1]

my_list[2][2]

my_list = [[[0, 0, 1], 2, 3], [4, 5, 6], [7, 8, 9]]


my_list[0][0][1]

## 2.3 List-增

In [12]:
# append()

guests = ['Christopher', 'Susan', 'Bill', 'Satya']

# add a new value to the end of the list
guests.append('Steve')

#display the last value in the list
print(guests[-1])

Steve

In [13]:
# extend()

t1 = ['a', 'b', 'c']  # recommended over +
t2 = ['d', 'e']
t1.extend(t2)
t1

['a', 'b', 'c', 'd', 'e']

In [ ]:
# %% insert

aList = [123, 'xyz', 'zara', 'abc']
aList.insert(3, 2009)
print("Final List : ", aList)

## 2.4 List-改

In [10]:
t = ['a', 'b', 'c', 'd', 'e', 'f'] 

t[1:3] = ['x', 'y']
t

['a', 'x', 'y', 'd', 'e', 'f']

In [14]:
mixed_list = [10, 38.88, 'pineapple',['banana',20]]
mixed_list[2] = 100
mixed_list


mixed_list [1] = 'apple'
mixed_list

[10, 38.88, 100, ['banana', 20]]

[10, 'apple', 100, ['banana', 20]]

## 2.5 List-删

In [16]:
# pop()

t = ['a', 'b', 'c']
x = t.pop(1)

t
x

['a', 'c']

'b'

In [18]:
# remove()

t = ['a', 'b', 'c']
t.remove('b') 
t

['a', 'c']

In [ ]:
# remove()

t = ['a', 'b', 'c']
t.remove('b')


guests = ['Christopher', 'Susan', 'Bill', 'Satya']

# add a new value to the end of the list
guests.remove('Christopher')

# display the last value in the list
print(guests[0])

In [ ]:
guests = ['Christopher','Susan','Bill','Satya']

#add a new value to the end of the list 
guests.remove('Christopher')

#display the last value in the list
print(guests[0])

In [19]:
# del()

t = ['a', 'b', 'c', 'd', 'e', 'f']

del t[1:5]

t

['a', 'f']

## 2.6 Other List related

In [23]:
# sort()

aList = ['xyz', 'zara', 'abc', 'xyz']
aList.sort()

aList

['abc', 'xyz', 'xyz', 'zara']

In [25]:
# reverse()

aList = [123, 'xyz', 'zara', 'abc', 'xyz']
aList.reverse()

aList

['xyz', 'abc', 'zara', 'xyz', 123]

In [ ]:
# index()

guests = ['Christopher', 'Susan', 'Bill', 'Satya']
guests = ['Christopher', 'Susan', 'Bill', 'Satya', 'Bill', 'Bill']

# this will return the index in the list
# where the name Bill is found
print(guests.index('Bill'))  # Find only the first
aList = [123, 'xyz', 'zara', 'abc']
print("Index for xyz : ", aList.index('xyz'))
print("Index for zara : ", aList.index('zara'))

In [26]:
names = ['Chris', 'James']
ages = [18, 16]
weights = [150, 170]

James_index = names.index('James')
print('Hi', names[James_index], ': your age is ', ages[James_index])

Hi James : your age is  16

In [29]:
# count()

aList = [123, 'xyz', 'zara', 'abc', 123]

print ("Count for 123 : ", aList.count(123))
print ("Count for 123 : ", aList.count('zara'))

Count for 123 :  2
Count for 123 :  1

In [32]:
# min

list1, list2 = [123, 'xyz', 'zara', 'abc'], [456, 700,200]

#print ("min value element : ", min(list1))
print ("min value element : ", min(list2))

min value element :  200

In [33]:
# max

list1, list2 = [123, 'xyz', 'zara', 'abc'], [456, 700,200]

#print ("min value element : ", max(list1))
print ("min value element : ", max(list2))

min value element :  700

In [34]:
# list()

s = 'banana'
t = list(s) 

t

['b', 'a', 'n', 'a', 'n', 'a']

In [37]:
# %% split

s = 'Eat more bananas, will u?'
t = s.split()
t


s = 'bananas-are-good-for-you'
delimiter = '-'
t = s.split(delimiter)
t


array_num = '18_16_15'
delimiter = '_'
t = array_num.split(delimiter)
t

['Eat', 'more', 'bananas,', 'will', 'u?']

['bananas', 'are', 'good', 'for', 'you']

['18', '16', '15']

In [39]:
# %% join

t = ['bananas', 'are', 'good', 'for', 'you']
delimiter = ' '

s = delimiter.join(t)
s

'bananas are good for you'

## 2.7 Aliasing

In [40]:
# %% Aliasing

a = ['1', 1,1.0]

temp = a

temp = []

# a unchanged, temp []

a = ['1', 1,1.0]

temp = a

temp [1] = True  # a, temp, same object


a = ['1', 1,1.0]

temp = a

temp = temp*2

# from aliasing to cloning


a = ['1', 1,1.0]

temp = a[:]  # cloning

temp [1] = True  # a, temp, same object

In [3]:
#Aliasing and Cloning

a = [81, 82, 83]
b = [81, 82, 83]

print(a==b)
print(a is b)

True
False

In [6]:
a = [1, 2, 3]
b = a

print(a==b)
print(a is b)

b[0] = 4
print(a)
print(b)

True
True
[4, 2, 3]
[4, 2, 3]

In [7]:
a = [81, 82, 83]
b = a[:]	# make a clone using slice

print(a==b)
print(a is b)

b[0] = 5
print(a) 
print(b)

True
False
[81, 82, 83]
[5, 82, 83]

## 3. Set

In [43]:
a = {5,2,3,1,4} # printing set variable 

print("a = ", a)
print(type(a))

a = {1,2,2,3,3,3}
a

a =  {1, 2, 3, 4, 5}
<class 'set'>

{1, 2, 3}

In [45]:
# Every element is unique

my_set = {1,2,3,4,3,2} 
print(my_set)

my_set = set([1,2,3,2]) 
print(my_set)

{1, 2, 3, 4}
{1, 2, 3}

## 3.1 Set建立

In [44]:
# set of integers 
my_set = {1, 2, 3} 
print(my_set)

# set of mixed datatypes
my_mixed_set = {1.0, "Hello", (1, 2, 3)} 
print(my_mixed_set)

weird_set = set("A weird set") 
print(weird_set)

{1, 2, 3}
{1.0, (1, 2, 3), 'Hello'}
{'s', 't', 'd', 'i', 'e', 'A', 'w', ' ', 'r'}

In [48]:
# initialize a with {} 
a = {}
# check data type of a
print(type(a))


# initialize a with set()
a= set()
# check data type of a
print(type(a))

<class 'dict'>
<class 'set'>

## 3.2 Set-查

In [50]:
# initialize my_set 
my_set = {1,3} 
print(my_set)

# if you uncomment the following line, you will get an error, no index for set # add an element
my_set[0]

{1, 3}

TypeError: 'set' object is not callable

## 3.3 Set-增

In [51]:
# add()

my_set = {1,3} 
print(my_set)

my_set.add(2) 

# Output: {1, 2, 3} 
print(my_set)

{1, 3}
{1, 2, 3}

In [52]:
# add multiple elements 

my_set.update([2,3,4]) 
print(my_set)


# add list and set
my_set.update([4,5], {1,6,8}) 
print(my_set)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

## 3.4 Set-改

## 3.5 Set-删

In [54]:
# initialize my_set
my_set = {1, 3, 4, 5, 6} 
print(my_set)

# discard an element
my_set.discard(4) 
print(my_set)

# remove an element
my_set.remove(6) 
print(my_set)


# discard an element
# not present in my_set

my_set.discard(2) 
print(my_set)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}
{1, 3, 5}

In [57]:
# initialize my_set
# Output: set of unique elements 

my_set = set("HelloWorld") 
print(my_set)

# pop an element randomly

print(my_set.pop())

{'W', 'H', 'd', 'o', 'e', 'l', 'r'}
W

In [58]:
# pop another element

my_set.pop() 
print(my_set)

# clear my_set #Output: set() 

my_set.clear() 
print(my_set)

'H'

{'d', 'o', 'e', 'l', 'r'}
set()

## 3.6 Set Operations

In [ ]:
# %% set operations

A = {1, 2, 3, 4, 5};

B = {4, 5, 6, 7, 8}
# use | operator; Output: {1, 2, 3, 4, 5, 6, 7, 8}
print(A | B)


# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use & operator
# Output: {4, 5}
print(A & B)


A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
A - B
B - A

A & B

## 3.7 Set- Other Methods

In [ ]:
# initialize my_set my_set = set("apple")

# check if 'a' is present # Output: True
print('a' in my_set)

# check if 'p' is present # Output: False
print('p' not in my_set)

In [ ]:
# initialize my_set my_set = set(["apple"]) print(my_set)
# check if 'a' is present # Output: False
print('a' in my_set)

In [ ]:
# %% Set

# initialize my_set 
my_set = {1,3} 
print(my_set)

# if you uncomment the following line, you will get an error, no index for set # add an element
# my_set[0] 

my_set.add(2) # Output: {1, 2, 3} print(my_set)
print(my_set)

# add multiple elements # Output: {1, 2, 3, 4}
my_set.update([2,3,4]) 
print(my_set)


# add list and set
# Output: {1, 2, 3, 4, 5, 6, 8}
my_set.update([4,5], {1,6,8}) 
print(my_set)

weird_set = set("A weird set") 
print(weird_set)





# initialize my_set
my_set = {1, 3}
print(my_set)
# if you uncomment line 9,
my_set[0]  # you will get an error, no index for set
# add an element
my_set.add(2)  # Output: {1, 2, 3}
print(my_set)

my_set = {1, 3.0, True, 'True',False}
my_set = {3.0, True, 1, 'True',False} # ==

my_set = {1, 3.0, True, 'True',False,0}

my_set = {1}

my_set = {1, 1.0} # no discrimination, 1 == 1.0 (True)

my_set = {1, 3.0, True, 'True',False} 

my_set = {1, 3.0, True, 'True',0, False} 

our_set = {1, '1', False}

our_set.add (True)  # ==

our_set.add (0)


my_set.add(frozenset([2, 3,4]))
print(my_set)

# %%







# initialize my_set 
my_set = set("apple") 
print(my_set)
# check if 'a' is present # Output: False
print('a' in my_set)

## 4. Dictionary

In [ ]:

# %% intro to dictionary

eng2sp = {}
eng2sp['one'] = 'uno'
eng2sp['two'] = 'dos'
eng2sp['three'] = 'tres'

# %% dict

# using dict()
dict_eg = {1: 'apple', 2:'ball'}

dict_eg = {}
dict_eg['A'] = 'apple'
dict_eg['B'] = 'ball'

dict_eg = dict({1: 'apple', 2:'ball'})

type(my_dict)
# from sequence having each item as a pair
my_dict = dict([(1, 'apple'), (2,'ball')])
type(my_dict)

dict_eg = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print("dict['Name']: ", dict_eg['Name'])
print("dict['Age']: ", dict_eg['Age'])

# %%

dict_eg = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print(dict_eg)
dict_eg['School'] = "DPS School" # Add new entry
print(dict_eg)
print("dict['School']: ", dict_eg['School'])

# %% modify key-value pair

inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}
inventory['pears'] = 0

# %%

dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict['Name'] # remove entry with key 'Name’
print(dict)
dict.clear()     # remove all entries in dict
print(dict)
del dict        # delete entire dictionary


is
isinstance

'1' in [1, 2]

1.0 in [1, 2]


# %% dictionary methods


inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}


print(inventory.get("apples"))
print(inventory.get("cherries"))  # output: None
print(inventory.get("cherries", 0))  # Default value, overwrite
print(inventory.get("apples", 0))
print(inventory.get("cherries"))

# %% Update

dict = {'Name': 'Zara', 'Age': 7}
dict2 = {'Sex': 'female'}
dict.update(dict2)
print ("Value : %s" % dict)

# %%

dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" % dict.setdefault('Age', None)) # overwritten
print ("Value : %s" % dict.setdefault('Sex', None))

# %%

dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" % dict.keys())

# %%

dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" % dict.items())

# %%

dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" % dict.values())

# %% # del: clear variable

dict1 = {'Name': 'Zara', 'Age': 7}
dict2 = dict1.copy()
print("New Dictionary : %s" % str(dict2))

# %% in: membership of keys

squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
# Output: True
print(1 in squares)
# Output: True
print(2 not in squares)
# membership tests for key only not value
# Output: False
print(49 in squares)

# %%

squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
for i in squares:  # key at each iteration stored in i
    print(squares[i])  # extract value only


# %%

people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

people[1]['age']

people = {'A': {'name': 'John', 'age': '27', 'sex': 'Male'},
          'B': {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

people['B']['sex']


# %%


people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}
people[3] = {}
people[3]['name'] = 'Luna'
people[3]['age'] = '24'
people[3]['sex'] = 'Female'
people[3]['married'] = 'No'
print(people[3])

# %%

people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'},
          3: {'name': 'Luna', 'age': '24', 'sex': 'Female', 'married': 'No'}}

people[4] = {'name': 'Peter', 'age': '29', 'sex': 'Male', 'married': 'Yes'}
print(people[4])

people.keys()

people.values()

people.items()

people[3].keys()


# %%


people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'},
          3: {'name': 'Luna', 'age': '24', 'sex': 'Female', 'married': 'No'},
          4: {'name': 'Peter', 'age': '29', 'sex': 'Male', 'married': 'Yes'}}
del people[3]['married']
del people[4]['married']
print(people[3])
print(people[4])


# %%

people = {1: {'Name': 'John', 'Age': '27', 'Sex': 'Male'},
          2: {'Name': 'Marie', 'Age': '22', 'Sex': 'Female'}}

for p_id, p_info in people.items():

    # wrong: for p_id, p_info in people.keys()

    print("\nPerson ID:", p_id)

    for key in p_info:
        print(key + ':', p_info[key])

# %%

nested_eg = [[1, 2],[3,4]]

for i in range(2):

    print(nested_eg[i])

    for j in range(2):

        print(nested_eg[i][j])

        
        
        
inventory = {'apples': 430, 'bananas': 312, 'oranges':525, 'pears': 217}

print(list(inventory.keys()))
print(list(inventory.values()))
print(list(inventory.items()))

for	(k, v) in inventory.items():
    print("Got", k, "that maps to", v)

## 5. Tuple

In [ ]:
# %% Tuple
tup1 = (50);

tup1 = (50,)

# only parentheses is not enough
my_tuple = ("hello")
print(type(my_tuple))  # Output: <class 'str'>

my_tuple = ("hello",)


# %%

tup = ('physics', 'chemistry', 1997, 2000)
print (tup)
del tup
print ("After deleting tup : ")
print (tup)

del tup[1]  # error, unsupported

In [ ]:
type('apple')
apple  = 1
type (apple)

apple  = ['apple']
type (apple)

apple  = ['apple']
type (apple [0])
type(apple[0][0])

apple  = ['apple', 4, 'orange', True]
type (apple [1])

apple  = ('apple', 4, 'orange', True, '1.0', 1.0)
type (apple)
type (apple[2])
type (apple[4])
type (apple[5])


apple  = ('apple', (4,), 'orange', True, '1.0', 1.0)
apple[1]