## Series

Series is a one-dimensional array containing axis label. It can be created via list, dictionary or external source

In [92]:
import pandas as pd
import numpy as np

Create a series via list and dictionary.  
pd.Series()

In [3]:
fruits = ["Apple", "Orange", "Kiwi", "Grape", "Blueberry", "Watermelon"]
f = pd.Series(fruits)
f

0         Apple
1        Orange
2          Kiwi
3         Grape
4     Blueberry
5    Watermelon
dtype: object

In [4]:
games = {'Monday':'Elden Ring','Tuesday':'FIFA','Wednesday':'Pokemon','Thursday':'Zelda'}
g = pd.Series(games)
g
#注意在使用dictionary时，key作为index label。与后面的dataframe不一样

Monday       Elden Ring
Tuesday            FIFA
Wednesday       Pokemon
Thursday          Zelda
dtype: object

## Series Attributes

In [21]:
for s in [g,f]:
    print(s.index)

# 当我们创建series时不输入index的信息，则pandas会默认以数字形式作为index label。可以在series创建时或者创建后赋予series lable的参数

Index(['Monday', 'Tuesday', 'Wednesday', 'Thursday'], dtype='object')
RangeIndex(start=0, stop=6, step=1)

In [27]:
f.index = ['a','b','c','d','e','f']
#index的长度必须和series的长度一致，否则报错
f

a         Apple
b        Orange
c          Kiwi
d         Grape
e     Blueberry
f    Watermelon
dtype: object

In [13]:
g.values

array(['Elden Ring', 'FIFA', 'Pokemon', 'Zelda'], dtype=object)

In [14]:
g.dtype
# 在dataframe等较复杂的数据结构中，也使用这个attributes去查看各个column的数据类型

dtype('O')

In [28]:
#在series中没有column的概念，只有整个series的名字的概念，同样可以在创建时或者创建后赋值
# series name会在由serie组成dataframe时变成对应的行或列的名字
g.name = 'My games'
g.name

'My games'

In [29]:
g

Monday       Elden Ring
Tuesday            FIFA
Wednesday       Pokemon
Thursday          Zelda
Name: My games, dtype: object

In [30]:
#pd.Series() 在创建过程中赋值name和index label的例子
pd.Series(fruits,index=['a','b','c','d','e','f'],name = 'My Fruit')

a         Apple
b        Orange
c          Kiwi
d         Grape
e     Blueberry
f    Watermelon
Name: My Fruit, dtype: object

## Series Methods

In [50]:
# use pd.read_csv() to import the sample data
# usecols 代表哪些列会被pandas import，等于subset of columns. 如果不特别说明，默认全部列会被import 
# index_col代表哪一列会被作为index label。注意index_col中的列必须出现在usecol中
fortune = pd.read_csv(r'C:\Users\wlj91\Desktop\Python\fortune1000.csv',usecols = ['Revenue','Company'],index_col = 'Company').squeeze('columns')
#fortune = pd.read_csv(r'C:\Users\wlj91\Desktop\Python\fortune1000.csv',usecols = ['Revenue','Company'],index_col = 'Company',squeeze = True)
#在较老的pandas版本中， squeeze =True 意味着将数据最终以series的形式呈现，如果没有这个parameter， 会以dataframe形式呈现。
#最新的版本中，在read_csv后面call .squeeze('columns')让pandas知道以series形式呈现数据。

#### The .head() and .tail() Methods  
- 可以快速查询 top 5 rows 和 bottom 5 rows  
- 括号内不传入数字默认为5， 如果想查询最前面的20行，则括号内输入20即可。

In [51]:
fortune.head()

Company
Walmart               482130
Exxon Mobil           246204
Apple                 233715
Berkshire Hathaway    210821
McKesson              181241
Name: Revenue, dtype: int64

In [52]:
fortune.tail()

Company
New York Community Bancorp    1902
Portland General Electric     1898
Portland General Electric     1898
Wendy’s                       1896
Briggs & Stratton             1895
Name: Revenue, dtype: int64

#### Descriptive Stats
- .describe() 会总结出常用的统计。 当然也可以专门用特定的method去计算特定的统计量

In [58]:
fortune.describe()

count      1000.000000
mean      13535.525000
std       28820.519135
min        1895.000000
25%        2898.250000
50%        5113.000000
75%       11386.000000
max      482130.000000
Name: Revenue, dtype: float64

In [53]:
fortune.sum()

13535525

In [54]:
fortune.mean()

13535.525

In [55]:
fortune.quantile(0.25)

2898.25

In [59]:
fortune.std()

28820.519134890506

In [57]:
fortune.min()

1895

In [115]:
#查询series有几行
fortune.shape

(1000,)

In [116]:
len(fortune)

1000

#### Sort the series
- sort_values()
- sort_index()

In [60]:
fortune.sort_values(ascending = True)
# 如果想要降序排列， 则输入ascending = False
# 注意目前的这个升序排列并没有在原series中生效，想要改变原来series的排序，必须输入 inplace = True

Company
Briggs & Stratton               1895
Wendy’s                         1896
Portland General Electric       1898
Portland General Electric       1898
New York Community Bancorp      1902
                               ...
McKesson                      181241
Berkshire Hathaway            210821
Apple                         233715
Exxon Mobil                   246204
Walmart                       482130
Name: Revenue, Length: 1000, dtype: int64

In [62]:
fortune.sort_index(ascending = False,inplace = True)
#如果index为string，则按照字母表顺序排列，数字默认最后

In [63]:
fortune

Company
salesforce.com             6667
inVentiv Health            2321
iHeartMedia                6242
hhgregg                    2129
eBay                       9496
                          ...
A.O. Smith                 2537
A. Schulman                2392
A-Mark Precious Metals     6070
99 Cents Only Stores       1999
3M                        30274
Name: Revenue, Length: 1000, dtype: int64

In [64]:
fortune.sort_values(ascending = False, inplace = True)
fortune

Company
Walmart                       482130
Exxon Mobil                   246204
Apple                         233715
Berkshire Hathaway            210821
McKesson                      181241
                               ...
New York Community Bancorp      1902
Portland General Electric       1898
Portland General Electric       1898
Wendy’s                         1896
Briggs & Stratton               1895
Name: Revenue, Length: 1000, dtype: int64

#### Extract values from series
- by index position
- by index label

In [67]:
# by index position
fortune[2:5]

Company
Apple                 233715
Berkshire Hathaway    210821
McKesson              181241
Name: Revenue, dtype: int64

In [68]:
fortune[[0,2,4]]

Company
Walmart     482130
Apple       233715
McKesson    181241
Name: Revenue, dtype: int64

In [74]:
# by index label
fortune[['Walmart',"Wendy’s",'McKesson']]

Company
Walmart     482130
Wendy’s       1896
McKesson    181241
Name: Revenue, dtype: int64

#### Boolean Masks

In [80]:
# What if I only want to see the companies with revenue larger than 200K?
fortune[fortune>200000]
# 方括号内return的是一个series，只是value仅为True or False

Company
Walmart               482130
Exxon Mobil           246204
Apple                 233715
Berkshire Hathaway    210821
Name: Revenue, dtype: int64

In [117]:
fortune>200000

Company
Walmart                        True
Exxon Mobil                    True
Apple                          True
Berkshire Hathaway             True
McKesson                      False
                              ...
New York Community Bancorp    False
Portland General Electric     False
Portland General Electric     False
Wendy’s                       False
Briggs & Stratton             False
Name: Revenue, Length: 1000, dtype: bool

In [83]:
# What if I only want to see the companies with revenue larger than 200K or revenues smaller than 2K?
fortune[(fortune>200000) | (fortune<2000)]
#务必注意在boolean mask 截取数据时，逻辑运算符号不可以是and 或者 or， 应该用 & 或者 |

Company
Walmart                              482130
Exxon Mobil                          246204
Apple                                233715
Berkshire Hathaway                   210821
99 Cents Only Stores                   1999
Roadrunner Transportation Systems      1995
Super Micro Computer                   1991
First Republic Bank                    1989
Hill-Rom Holdings                      1988
Providence Service                     1987
Allison Transmission Holdings          1986
Spire                                  1976
WPX Energy                             1958
Century Aluminum                       1950
Adams Resources & Energy               1944
Nuance Communications                  1931
Primoris Services                      1929
Schnitzer Steel Industries             1924
Delta Tucker Holdings                  1923
Hospitality Properties Trust           1922
Cenveo                                 1921
F5 Networks                            1920
BlueLinx Holdings                      1917
Revlon                                 1914
DeVry Education Group                  1910
MDC Holdings                           1909
EP Energy                              1908
New York Community Bancorp             1902
Portland General Electric              1898
Portland General Electric              1898
Wendy’s                                1896
Briggs & Stratton                      1895
Name: Revenue, dtype: int64

#### Check if the data is unique
- is_unqiue
- nunique()
- unique()
- duplicated()

In [84]:
# 适用于快速查询整个series的value是否为unqiue
fortune.is_unique

False

In [86]:
#适用于查询unique的value一共有几个
fortune.nunique()

945

In [93]:
# 查询哪些value是unique的
fortune.unique()

array([482130, 246204, 233715, 210821, 181241, 157107, 153290, 152356,
       149558, 146801, 140389, 135962, 131620, 131118, 116199, 110359,
       109830, 107006, 103444, 103355, 102531, 101752, 101006,  96114,
        93580,  93056,  90033,  88519,  88275,  87169,  82461,  81824,
        79157,  78756,  75697,  74989,  74510,  73785,  70074,  69951,
        67702,  64566,  63491,  63056,  61047,  60337,  59074,  58363,
        58327,  57119,  55355,  54289,  52465,  49161,  48851,  48778,
        48681,  47453,  47011,  46132,  45891,  44294,  43591,  43026,
        42126,  41373,  40990,  40704,  40222,  40204,  39745,  39498,
        39450,  39208,  38581,  38243,  38226,  37897,  37876,  37864,
        35653,  35181,  34693,  34582,  34441,  32639,  32619,  31469,
        30945,  30935,  30601,  30380,  30274,  29636,  29447,  28987,
        28863,  28150,  28118,  28111,  27940,  27925,  27079,  27028,
        26800,  26794,  26528,  26380,  25413,  25281,  25146,  25098,
        24704,  24361,  24002,  23697,  23633,  23526,  23282,  23247,
        23152,  23128,  22859,  22795,  22678,  22534,  22365,  22304,
        21813,  21662,  21494,  21059,  20909,  20891,  20872,  20862,
        20854,  20661,  20369,  20111,  19959,  19820,  19361,  19330,
        19204,  19163,  19115,  19110,  18854,  18664,  18591,  18377,
        18338,  18211,  18114,  17990,  17928,  17914,  17900,  17820,
        17630,  17489,  17486,  16965,  16900,  16833,  16802,  16560,
        16443,  16439,  16270,  16244,  16192,  16034,  15877,  15849,
        15797,  15742,  15523,  15498,  15389,  15330,  15280,  15272,
        15270,  15134,  15069,  15026,  15001,  14963,  14874,  14757,
        14674,  14572,  14486,  14485,  14437,  14403,  14329,  14210,
        14178,  13890,  13886,  13880,  13572,  13545,  13525,  13476,
        13423,  13415,  13405,  13338,  13268,  13238,  13161,  13145,
        13124,  13105,  13000,  12989,  12961,  12893,  12764,  12712,
        12699,  12628,  12626,  12625,  12554,  12416,  12377,  12200,
        12183,  12154,  12115,  11964,  11940,  11881,  11811,  11802,
        11689,  11684,  11683,  11574,  11554,  11524,  11513,  11477,
        11451,  11401,  11381,  11341,  11339,  11272,  11257,  11211,
        11025,  10885,  10856,  10824,  10780,  10776,  10764,  10760,
        10731,  10675,  10633,  10630,  10535,  10511,  10418,  10415,
        10346,  10337,  10326,  10315,  10299,  10282,  10231,  10187,
        10140,  10056,  10002,   9989,   9973,   9968,   9946,   9895,
         9787,   9785,   9773,   9754,   9737,   9667,   9659,   9648,
         9624,   9539,   9499,   9496,   9474,   9364,   9351,   9264,
         9256,   9249,   9248,   9224,   9190,   9170,   9132,   9115,
         9111,   8992,   8982,   8895,   8858,   8789,   8782,   8779,
         8762,   8757,   8718,   8698,   8680,   8642,   8633,   8604,
         8533,   8502,   8394,   8286,   8229,   8209,   8185,   8122,
         8082,   8072,   8023,   8020,   7997,   7967,   7955,   7949,
         7904,   7864,   7786,   7763,   7729,   7669,   7652,   7632,
         7623,   7620,   7614,   7594,   7519,   7493,   7477,   7467,
         7412,   7387,   7386,   7360,   7271,   7246,   7236,   7207,
         7193,   7173,   7164,   7098,   7082,   7052,   7032,   7031,
         7029,   7020,   6780,   6755,   6723,   6694,   6693,   6691,
         6672,   6667,   6659,   6654,   6644,   6617,   6596,   6595,
         6588,   6575,   6572,   6543,   6540,   6517,   6510,   6508,
         6501,   6472,   6456,   6440,   6416,   6394,   6393,   6375,
         6373,   6363,   6351,   6308,   6282,   6242,   6227,   6188,
         6162,   6156,   6155,   6149,   6145,   6123,   6110,   6098,
         6070,   6060,   6028,   6014,   5998,   5995,   5982,   5972,
         5967,   5966,   5926,   5861,   5851,   5817,   5816,   5766,
         5765,   5763,   5762,   5742,   5738,   5732,   5706,   5703,
         5695,   5693,   5674,   5666,   5621,   5619,   5609,   5598,
         5594,   5576,   5569,   5565,   5541,   5536,   5518,   5484,
         5448,   5444,   5392,   5387,   5373,   5370,   5363,   5362,
         5356,   5350,   5313,   5308,   5305,   5291,   5276,   5275,
         5266,   5264,   5262,   5259,   5254,   5234,   5197,   5191,
         5176,   5170,   5142,   5130,   5096,   5095,   5086,   5083,
         5034,   5023,   5010,   5000,   4996,   4980,   4976,   4968,
         4964,   4961,   4921,   4913,   4881,   4858,   4857,   4832,
         4826,   4803,   4796,   4795,   4772,   4765,   4719,   4682,
         4678,   4664,   4658,   4654,   4648,   4647,   4597,   4595,
         4561,   4542,   4529,   4520,   4515,   4508,   4501,   4495,
         4481,   4463,   4448,   4434,   4428,   4425,   4395,   4393,
         4380,   4378,   4376,   4375,   4369,   4343,   4328,   4324,
         4319,   4315,   4308,   4296,   4275,   4260,   4229,   4213,
         4208,   4201,   4199,   4192,   4171,   4160,   4143,   4142,
         4140,   4113,   4105,   4104,   4081,   4076,   4071,   4046,
         4038,   4027,   4007,   3998,   3991,   3974,   3971,   3967,
         3963,   3955,   3949,   3941,   3937,   3924,   3906,   3903,
         3889,   3870,   3869,   3866,   3860,   3834,   3812,   3808,
         3787,   3779,   3776,   3764,   3743,   3729,   3720,   3691,
         3653,   3652,   3651,   3645,   3633,   3617,   3597,   3593,
         3582,   3579,   3578,   3574,   3568,   3564,   3551,   3543,
         3540,   3526,   3522,   3519,   3510,   3506,   3496,   3495,
         3486,   3485,   3482,   3471,   3467,   3453,   3445,   3436,
         3435,   3422,   3416,   3415,   3403,   3397,   3395,   3390,
         3384,   3378,   3367,   3343,   3327,   3321,   3314,   3308,
         3278,   3276,   3275,   3258,   3254,   3253,   3242,   3231,
         3229,   3226,   3219,   3206,   3187,   3180,   3172,   3167,
         3165,   3163,   3160,   3159,   3158,   3153,   3151,   3144,
         3135,   3134,   3133,   3127,   3114,   3103,   3099,   3096,
         3095,   3093,   3079,   3075,   3066,   3063,   3060,   3052,
         3047,   3032,   3023,   3022,   3018,   3017,   3015,   3014,
         3010,   3009,   3008,   3006,   3002,   2991,   2986,   2984,
         2977,   2973,   2972,   2966,   2965,   2951,   2944,   2921,
         2910,   2908,   2903,   2902,   2887,   2885,   2883,   2877,
         2872,   2871,   2858,   2856,   2854,   2853,   2842,   2838,
         2834,   2833,   2825,   2819,   2814,   2804,   2803,   2793,
         2790,   2789,   2780,   2774,   2768,   2759,   2752,   2746,
         2741,   2740,   2734,   2730,   2726,   2723,   2707,   2705,
         2696,   2694,   2692,   2689,   2682,   2680,   2674,   2667,
         2664,   2660,   2659,   2656,   2654,   2647,   2642,   2640,
         2639,   2633,   2628,   2620,   2619,   2605,   2604,   2603,
         2601,   2594,   2591,   2581,   2580,   2578,   2577,   2574,
         2573,   2547,   2544,   2542,   2541,   2537,   2536,   2530,
         2526,   2515,   2511,   2509,   2506,   2504,   2502,   2495,
         2494,   2491,   2486,   2485,   2472,   2470,   2464,   2462,
         2459,   2446,   2435,   2421,   2420,   2419,   2418,   2404,
         2403,   2401,   2395,   2392,   2391,   2389,   2384,   2383,
         2382,   2377,   2371,   2363,   2350,   2344,   2341,   2340,
         2339,   2330,   2326,   2321,   2318,   2317,   2314,   2309,
         2307,   2304,   2301,   2299,   2298,   2295,   2292,   2290,
         2289,   2288,   2284,   2273,   2272,   2264,   2263,   2250,
         2247,   2242,   2231,   2227,   2220,   2219,   2218,   2217,
         2211,   2204,   2199,   2197,   2195,   2192,   2189,   2180,
         2179,   2163,   2151,   2149,   2148,   2147,   2142,   2141,
         2134,   2132,   2129,   2123,   2117,   2109,   2101,   2100,
         2096,   2094,   2086,   2084,   2083,   2077,   2068,   2066,
         2051,   2042,   2038,   2034,   2029,   2028,   2024,   2022,
         2021,   2019,   2016,   2011,   2001,   2000,   1999,   1995,
         1991,   1989,   1988,   1987,   1986,   1976,   1958,   1950,
         1944,   1931,   1929,   1924,   1923,   1922,   1921,   1920,
         1917,   1914,   1910,   1909,   1908,   1902,   1898,   1896,
         1895], dtype=int64)

In [89]:
# 查询哪些value是duplicated
fortune[fortune.duplicated()]

Company
Ameren                            6098
Barnes & Noble                    6070
Regions Financial                 5674
SanDisk                           5565
Host Hotels & Resorts             5387
Energy Future Holdings            5370
NiSource                          5308
First American Financial          5176
Robert Half International         5095
Activision Blizzard               4664
Electronic Arts                   4515
Bemis                             4071
Ingles Markets                    3779
Towers Watson                     3645
Sprouts Farmers Market            3593
CalAtlantic Group                 3540
Meritor                           3506
Tailored Brands                   3496
TreeHouse Foods                   3206
American Water Works              3159
Noble Energy                      3133
American National Insurance       3018
Northern Tier Energy              3002
Service Corp. International       2986
Sabre                             2986
Green Plains                      2966
Gannett                           2885
Linn Energy                       2883
Mednax                            2780
Acuity Brands                     2707
Verso                             2692
Heartland Payment Systems         2682
Alexion Pharmaceuticals           2604
Teradata                          2530
Moog                              2526
EnerSys                           2506
Cliffs Natural Resources          2418
Stifel Financial                  2377
Granite Construction              2371
Maxim Integrated Products         2307
Penn Mutual Life Insurance        2290
Brocade Communications Systems    2264
Genesis Energy                    2247
Prologis                          2197
Akamai Technologies               2197
Herman Miller                     2142
Maximus                           2100
H.B. Fuller                       2084
Rexnord                           2084
Alliance One International        2066
Tower International               2042
Bio-Rad Laboratories              2019
Tribune Media                     2011
VeriFone Systems                  2001
Portland General Electric         1898
Name: Revenue, dtype: int64

In [96]:
# 查询哪些value是unique的，同时返回对应的index label
# '~' 代表NOT，会将true变成false， false变成true
fortune[~fortune.duplicated()]

Company
Walmart                       482130
Exxon Mobil                   246204
Apple                         233715
Berkshire Hathaway            210821
McKesson                      181241
                               ...
EP Energy                       1908
New York Community Bancorp      1902
Portland General Electric       1898
Wendy’s                         1896
Briggs & Stratton               1895
Name: Revenue, Length: 945, dtype: int64

#### Check and fill in Null value
- isnull()
- dropna()
- fillna()

In [98]:
# let's revist the fruits list and add some null values
fruits = ["Apple", "Orange", "Kiwi", "Grape", "Blueberry",np.nan, "Watermelon"]
fruits_index = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
s= pd.Series(fruits,index = fruits_index)

In [99]:
s

Monday            Apple
Tuesday          Orange
Wednesday          Kiwi
Thursday          Grape
Friday        Blueberry
Saturday            NaN
Sunday       Watermelon
dtype: object

In [100]:
#return 类似 duplicated相同的boolean series
s.isnull()

Monday       False
Tuesday      False
Wednesday    False
Thursday     False
Friday       False
Saturday      True
Sunday       False
dtype: bool

In [109]:
#利用boolean的0和1的特点快速查询有几个是null value
s.isnull().sum()

1

In [102]:
# 将NA value从series中去除，注意如果想要在原series中生效，需要加入 inplace = True
s.dropna()

Monday            Apple
Tuesday          Orange
Wednesday          Kiwi
Thursday          Grape
Friday        Blueberry
Sunday       Watermelon
dtype: object

In [104]:
# 可以用fillna的方法将null value用某个值代替
s.fillna(value = 'Peach')

Monday            Apple
Tuesday          Orange
Wednesday          Kiwi
Thursday          Grape
Friday        Blueberry
Saturday          Peach
Sunday       Watermelon
dtype: object

In [105]:
# fillna的参数常见的还有method，包括‘ffill','bfill'
s.fillna(method='bfill')
#用下一个valid的值

Monday            Apple
Tuesday          Orange
Wednesday          Kiwi
Thursday          Grape
Friday        Blueberry
Saturday     Watermelon
Sunday       Watermelon
dtype: object

In [106]:
s.fillna(method = 'ffill')
#用上一个valid的值
# 所有fillna的语法想要在原series中生效，同样要加入inplace = True

Monday            Apple
Tuesday          Orange
Wednesday          Kiwi
Thursday          Grape
Friday        Blueberry
Saturday      Blueberry
Sunday       Watermelon
dtype: object

#### Set Series Value

In [107]:
#利用index找到想要替换的值，随后用等号赋值
s['Monday'] = 'Taro'

In [108]:
s

Monday             Taro
Tuesday          Orange
Wednesday          Kiwi
Thursday          Grape
Friday        Blueberry
Saturday            NaN
Sunday       Watermelon
dtype: object

In [110]:
s['Saturday'] = 'It was a null value'

In [111]:
s

Monday                      Taro
Tuesday                   Orange
Wednesday                   Kiwi
Thursday                   Grape
Friday                 Blueberry
Saturday     It was a null value
Sunday                Watermelon
dtype: object