# 1. This is lv 1 heading
## 1.1 This is lv 2 heading
## 1.2 This is another lv2
### 1.2.2 This is a level 3 heading

In [6]:
import pandas as pd

In [18]:
df=pd.DataFrame({'age':[1,2,3],'name':['abc','def','ghi']},index=['a','b','c'])
df

   age name
a    1  abc
b    2  def
c    3  ghi

In [5]:
a=1+2j

In [2]:
type(a)

complex

In [3]:
b=1-2j
c=a*b
c

(5+0j)

In [4]:
isinstance(b,complex)

True

In [ ]:
a=