In [1]:
# By running the following python code, Jupyter Notebook will display all results
# We will cover the details of this type of "import" code later

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
# 'all, last, last_expr(default), none, last_expr_or_assign'

# 1. Conditionals

In [3]:
# Conditionals 

x = -5

if x > 0:
    print('x is positive')

In [6]:
answer=input("Would you like express shipping?")
if answer == "yes" :
    print("That will be an extra $10")

Would you like express shipping? Yes

In [8]:
answer=input("Would you like express shipping?")
if answer.lower() == "yes" :
    print("That will be an extra $10")

Would you like express shipping? No

In [10]:
answer=input("Would you like express shipping? ")
if answer.lower() == "yes" :
    print("That will be an extra $10") 
print("Have a nice day")

Would you like express shipping?  no

Have a nice day

In [11]:
#%% multiple conditions

x=15

if x % 2 ==0:
    print('x is even')
else:
    print('x is odd')

x is odd

In [13]:
#%% multiple conditions

x = 100
y = 10

if x < y :
    print('x is less than y')
    
elif x > 20*y :
    print('x is far greater than y')

elif (x > y and x <= 20*y):
    print('x is greater than y')   

else:
    print('x and y are equal')

x is greater than y

In [16]:
#%% 


# > 90: A
# 90 >=, > 80: B
# 80 >=, > 70: C
# 70 >=, > 60: D
# 60 >=: You bloody failed
    

grade = float(input('Your grade:'))

if grade > 100:
    
    print ('Are you kidding me?')
    
elif (grade > 90 and grade <= 100):   
    
    print ('You got an A, congrats') 
    
elif (grade > 80 and grade <= 90):
    
    print ('You got a B, not bad')

elif (grade > 70 and grade <= 80): 
    
    print ('You got a C, work harder')
    
elif (grade > 60 and grade <= 70): 
    
    print ('You got a C, almost a looser')   
    
else: 
    
    print ('You bloody failed, sucker')

Your grade: 60

You bloody failed, sucker

In [18]:
x=10

if x > 0:
    if x < 10:
        print('x is positive singe-digit number.')

In [19]:
month = 'Sep'

if month == 'Sep' or month == 'Apr' or \
month == 'June' or month == 'Nov':
    print("There are 30 days in this month")

There are 30 days in this month

In [20]:
month = 'Sep'

if month in ('Sep','Apr','June','Nov'):
    print("There are 30 days in this month")

There are 30 days in this month

In [ ]:
monday = True 
freshCoffee = False 

if monday :
#you could have code here to check for fresh coffee
# the if statement is nested, so this if statement
# is only executed if the other if statement is true
    if not freshCoffee :
        print("go buy a coffee!") 
    print("I hate Mondays")

print("now you can start work")

# 2. Loops

In [23]:
word = 'banana'
count = 0

for letter in word:
    if letter == 'a':
        count = count + 1
        #count+=1
print(count)

# word.count('a')

3

In [24]:
word = 'banana'
count = 0

for letter in word:
    if letter == 'a':
        count = count + 1
        print(count)

1
2
3

In [25]:
word = 'banana'
count = 0

for letter in word:
    if letter == 'a':
        count = count + 1
    print(count)

0
1
1
2
2
3

In [26]:
print(range(10)) 
print(type(range(10)))
# Output: range(0, 10)


print(list(range(10))) 
# Output: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print(list(range(2, 8))) 
# Output: [2, 3, 4, 5, 6, 7]


print(list(range(2, 20, 3))) 
# Output: [2, 5, 8, 11, 14, 17]

range(0, 10)
<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7]
[2, 5, 8, 11, 14, 17]

In [ ]:
for steps in range(4): 
    print(steps)

In [ ]:
for steps in range(1,4) :
    print(steps)

In [ ]:
for steps in range(1,10,2) :
    print(steps)

In [ ]:
for steps in [1,2,3,4,5] :
    print(steps)

## Loops for String

In [27]:
h_letters = []

for letter in 'human': 
    h_letters.append(letter)


print(h_letters)

['h', 'u', 'm', 'a', 'n']

In [28]:
h_letters = [ letter for letter in 'human'] 
print( h_letters)

['h', 'u', 'm', 'a', 'n']

## Loops for List

In [29]:
guests = ['Christopher','Susan','Bill','Satya']

#Create a loop that executes four times 
#Since we have four values

for steps in range(4): # range(4): 0, 1, 2, 3
    
    #Remember the value of steps goes up by one 
    #Each time the loop executes
    
    print(guests[steps])

Christopher
Susan
Bill
Satya

In [30]:
guests = ['Christopher', 'Susan','Bill','Satya'] 

# Find out how many entries are in the list
nbrEntries = len(guests)

# Create a loop that executes once for each entry
for steps in range(nbrEntries):
    print(guests[steps])

# range, a must

Christopher
Susan
Bill
Satya

In [32]:
nested_eg = [[1, 2],[3,4]]

for i in range(2):
    # print(nested_eg[i])
    
    for j in range(2):

        print(nested_eg[i][j])

1
2
3
4

## List Comprehension

In [31]:
[x for x in range(5)]

[x + 1 for x in range(5)]

[x + 1 for x in range(10) if x % 2 == 0]

[0, 1, 2, 3, 4]

[1, 2, 3, 4, 5]

[1, 3, 5, 7, 9]

In [ ]:
even = [x for x in range(20) if x % 2 == 0]
even

In [ ]:
num_list = [y for y in range(100) if y % 2 == 0 if y % 5 == 0]
num_list

In [ ]:
obj = ["Even" if i % 2== 0 else "Odd" for i in range(10)] 
obj

In [ ]:
pow2 = [2 ** x for x in range(10)]
# Output: [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]
print(pow2)

In [ ]:
pow2 = [2 ** x for x in range(10) if x > 5]
pow2

In [ ]:
odd = [x for x in range(20) if x % 2 == 1]
odd

In [ ]:
[x+y for x in ['Python ', 'C '] for y in ['Language','Programming']]

## Loops for Set

In [33]:
for letter in set('apple'):
    print(letter)

p
e
a
l

## Loops for Tuple

In [34]:
for name in ('John','Kate'):
    print('Hello', name)

Hello John
Hello Kate

## Loops for Dictionary

In [35]:
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

for i in squares:  # key at each iteration stored in i
    print(squares[i])  # extract value only

1
9
25
49
81

In [36]:
squares = {x: x*x for x in range(6)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [37]:
inventory = {'apples': 430, 'bananas': 312, 'oranges':525, 'pears': 217}

for akey in inventory.keys():

    print("Got key", akey, "which maps to value",inventory[akey])

ks = list(inventory.keys()) 
print(ks)

Got key apples which maps to value 430
Got key bananas which maps to value 312
Got key oranges which maps to value 525
Got key pears which maps to value 217
['apples', 'bananas', 'oranges', 'pears']

In [38]:
for k in inventory:
    print("Got key", k, "which maps to", inventory[k])

Got key apples which maps to 430
Got key bananas which maps to 312
Got key oranges which maps to 525
Got key pears which maps to 217

In [39]:
people = {1: {'Name': 'John', 'Age': '27', 'Sex': 'Male'},
          2: {'Name': 'Marie', 'Age': '22', 'Sex': 'Female'}}

for p_id, p_info in people.items():

    print("\nPerson ID:", p_id)
    
    for key in p_info:
        print(key + ':', p_info[key])

Person ID: 1
Name: John
Age: 27
Sex: Male

Person ID: 2
Name: Marie
Age: 22
Sex: Female

## While Loops

In [40]:
def countdown(n):
    while n > 0:
        print(n)
        n=n-1
    print('Blastoff!')
    
countdown(10)

10
9
8
7
6
5
4
3
2
1
Blastoff!

In [41]:
def countdown(n):
    while n > 0:
        print(n)
        n=n-1
        print('Blastoff!')
    
countdown(10)

10
Blastoff!
9
Blastoff!
8
Blastoff!
7
Blastoff!
6
Blastoff!
5
Blastoff!
4
Blastoff!
3
Blastoff!
2
Blastoff!
1
Blastoff!

In [42]:
fruit = 'banana'
# len(fruit)

index = 0

while index < len(fruit):
    letter = fruit[index] 
    print(letter)
    index = index + 1

b
a
n
a
n
a

## Break

In [43]:
for letter in 'Python': 
    if letter == 'h':
        break
    print ('Current Letter :', letter)

Current Letter : P
Current Letter : y
Current Letter : t

In [44]:
var = 10 # Second Example 

while var > 0:
    print ('Current variable value :', var)
    var = var -1
    if var == 5: 
        break
        
print ("Good bye!")

Current variable value : 10
Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6
Good bye!

## Continue

In [45]:
for letter in 'Python': 
    if letter == 'h':
        continue
    print ('Current Letter :', letter)

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : o
Current Letter : n

In [46]:
var = 10 # Second Example 

while var > 0:
    
    var = var -1
    if var == 5: 
        continue
    print ('Current variable value :', var)
    
print ("Good bye!")

Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6
Current variable value : 4
Current variable value : 3
Current variable value : 2
Current variable value : 1
Current variable value : 0
Good bye!

In [ ]:
guests = []
name = "  "

while name.upper()!="DONE":
    
    name = input("Enter guest name (enter DONE if no more names) : ")
    
    if name.upper()!="DONE":
        guests.append(name)
        
guests.sort()

print(guests)

## Case Study: Factorial

In [56]:

# Factorial 

# Python program to find the factorial of a number provided by the user.
# change the value for a different result

# num = 5

# uncomment to take input from the user
num = int(input("Enter a number: "))

factorial = 1
# check if the number is negative, positive or zero

if num < 0:
    print("Sorry, factorial does not exist for negative numbers")
# to be cont’d

elif num == 0:
    print("The factorial of 0 is 1")

else:
    for i in range(1,num + 1):
        factorial = factorial*i
    print("The factorial of",num,"is",factorial)

Enter a number:  5

The factorial of 5 is 120

# 3. Functions

In [1]:
def f(x, y):
    return x ** 2 + 3 * y


f(2,3)

13

In [60]:
def foo(x):
    if x % 2==0:
        print ('x is even')
    if x > 0:
        print ("positive")
    else:
        print (abs(x) + 3)

foo(10)

x is even
positive

In [61]:
def foo2(x):
    if x % 2==0:
        return 'x is even'
    if x > 0:
        return "positive"
    else:
        return abs(x) + 3

foo2(10)

'x is even'

In [62]:
#%% Define functions

def print_quote(): # header
    print("all work no play makes James?")
    print("a dull boy.")

In [63]:
print_quote()

all work no play makes James?
a dull boy.

In [64]:
#%% nested fuctions
    
def repeat_quotes():
    print_quote()
    print_quote()

repeat_quotes()

all work no play makes James?
a dull boy.
all work no play makes James?
a dull boy.

In [ ]:
#%% define functions with arguments
    
def print_your_quote(Name): # header
    first = "all work no play makes "
    second = Name
    third = "?"
    print(first + second + third)
    print("a dull boy.")


print_your_quote('Kevin')
print_your_quote('Jack')

input='Lingjie'
print_your_quote(input)

In [ ]:
def displayMessage(greeting, name): 
    message = greeting + ', ' + name 
    print(message)


displayMessage('Hi', 'Christopher')

In [ ]:
#%% default argument

def greet(name, msg = "Good morning!"):
    
   """
   This function greets to the person with the
   provided message. If message is not provided,
   it defaults to "Good morning!"
   """
   print("Hello",name + ', ' + msg)

greet("Kate")
greet("Bruce","How do you do?")

In [ ]:
help(greet)
#help(print)

In [ ]:
#%%

def justry(name, msg = 10):
#def justry(msg = 10, name):
   """
   This function greets to the person with the
   provided message. If message is not provided,
   it defaults to "Good morning!"
   
   """
   power = 2**msg
   
   print("Hello",name + ', ' + str(power))

#%%
justry("Kate")
justry("Bruce",20)

In [ ]:
#%% Arbitrary Arguments


def greet(*names):
    
   """
   This function greets all
   the person(s) in the names tuple.
   """
   
# This function greets all
# the person(s) in the names tuple   

# names is a tuple with arguments
   for name in names:
        print("Hello",name)

greet("Monica","Luke","John", 'James', 'Husky')

In [2]:
#%% doc string

def greet(*names):
   
    """
   Version number: 1.0.01
   Date: Jan 17, 2023
   Author: Kevin M.
   Production: No
   Validation: No
   Debugged: Twice
   
   This function greets all
   the person(s) in the names tuple.
   """
    

   # names is a tuple with arguments
    for name in names:
        print("Hello",name)

greet("Monica","Luke","John", 'James', 'Husky')

In [5]:
#greet.__doc__
help(greet)
help(print)

Help on function greet in module __main__:

greet(*names)
    Version number: 1.0.01
    Date: Jan 17, 2023
    Author: Kevin M.
    Production: No
    Validation: No
    Debugged: Twice

    This function greets all
    the person(s) in the names tuple.

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
#%% lambda function

double = lambda x: x * 2

# Output: 10
print(double(5))

## Bonus Section

In [ ]:
def foo(x):
    if x % 2 == 0:
        n = 5
    else:
        n = 8
    return n

a=foo(10)
a

In [ ]:
def foo2(x):
    return 5 if x % 2 == 0 else 8

a=foo2(10)
a

In [ ]:
#named parameters

def my_div(a: int, b: int):
    return (a // b, a % b)

my_div(5, 2)
my_div(a=5, b=2)
my_div(b=2, a=5)
my_div(5, b=2)