<a href="https://colab.research.google.com/github/mingma1369/Python/blob/main/Merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

In [ ]:
   dframe1=DataFrame({'key':['X','Z','Y','Z','X','X'],'data_set_1':np.arange(6)})
   dframe1

  key  data_set_1
0   X           0
1   Z           1
2   Y           2
3   Z           3
4   X           4
5   X           5

In [ ]:
dframe2=DataFrame({'key':['Q','Y','Z'],'data_set_2':[1,2,3]})
dframe2

  key  data_set_2
0   Q           1
1   Y           2
2   Z           3

In [ ]:
pd.merge(dframe1,dframe2)

  key  data_set_1  data_set_2
0   Z           1           3
1   Z           3           3
2   Y           2           2

In [29]:
dframe1.join(dframe2,suffixes=('_left','_right'))

TypeError: ignored

In [ ]:
pd.merge(dframe1,dframe2,on='key')

  key  data_set_1  data_set_2
0   Z           1           3
1   Z           3           3
2   Y           2           2

In [ ]:
pd.merge(dframe1,dframe2,how='left',on='key')

  key  data_set_1  data_set_2
0   X           0         NaN
1   Z           1         3.0
2   Y           2         2.0
3   Z           3         3.0
4   X           4         NaN
5   X           5         NaN

In [10]:
pd.merge(dframe1,dframe2,on='key',how='right')

  key  data_set_1  data_set_2
0   Q         NaN           1
1   Y         2.0           2
2   Z         1.0           3
3   Z         3.0           3

In [13]:
pd.merge(dframe1,dframe2,on='key',how='outer')

  key  data_set_1  data_set_2
0   X         0.0         NaN
1   X         4.0         NaN
2   X         5.0         NaN
3   Z         1.0         3.0
4   Z         3.0         3.0
5   Y         2.0         2.0
6   Q         NaN         1.0

In [14]:
dframe3=DataFrame({'key':['X','X','X','Y','Z','Z'],'data_set_3':range(6)})
dframe3

  key  data_set_3
0   X           0
1   X           1
2   X           2
3   Y           3
4   Z           4
5   Z           5

In [16]:
dframe4=DataFrame({'key':['Y','Y','X','X','Z'],'data_set_4':range(5)})
dframe4

  key  data_set_4
0   Y           0
1   Y           1
2   X           2
3   X           3
4   Z           4

In [17]:
pd.merge(dframe3,dframe4)

  key  data_set_3  data_set_4
0   X           0           2
1   X           0           3
2   X           1           2
3   X           1           3
4   X           2           2
5   X           2           3
6   Y           3           0
7   Y           3           1
8   Z           4           4
9   Z           5           4

In [20]:
df_left = DataFrame({'key1':['SF','SF','LA'],'key2':['one','two','one'],'left_data':[10,20,30]})
df_left

  key1 key2  left_data
0   SF  one         10
1   SF  two         20
2   LA  one         30

In [21]:
df_right = DataFrame({'key1':['SF','SF','LA','LA'],'key2':['one','one','one','two'],'right_data':[40,50,60,70]})
df_right

  key1 key2  right_data
0   SF  one          40
1   SF  one          50
2   LA  one          60
3   LA  two          70

In [22]:
pd.merge(df_left,df_right,on=['key1','key2'],how='outer')

  key1 key2  left_data  right_data
0   SF  one       10.0        40.0
1   SF  one       10.0        50.0
2   SF  two       20.0         NaN
3   LA  one       30.0        60.0
4   LA  two        NaN        70.0

In [23]:
pd.merge(df_left,df_right,on=['key1'],how='outer')

  key1 key2_x  left_data key2_y  right_data
0   SF    one         10    one          40
1   SF    one         10    one          50
2   SF    two         20    one          40
3   SF    two         20    one          50
4   LA    one         30    one          60
5   LA    one         30    two          70

In [24]:
pd.merge(df_left,df_right,on='key1',suffixes=('_lefty','_righty') )

  key1 key2_lefty  left_data key2_righty  right_data
0   SF        one         10         one          40
1   SF        one         10         one          50
2   SF        two         20         one          40
3   SF        two         20         one          50
4   LA        one         30         one          60
5   LA        one         30         two          70

In [26]:
df_left.join(df_right)

ValueError: ignored