In [61]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# For reference, the options for that are 'all', 'none', 'last' and 'last_expr'. 
# The difference between 'last' and 'last_expr': 
# if your cell ends with, say, a loop containing an expression, 'last' will show you the results from that expression in each iteration of the loop. 
# 'last_expr' (the default) won't show that: it will only display the result of a bare expression at the end of the cell. 


# In Windows, the steps below makes the change permanent. Should work for other operating systems. You might have to change the path.

# C:\Users\your_profile\\.ipython\profile_default
# Make a ipython_config.py file in the profile_defaults with the following code:

# c = get_config()

# c.InteractiveShell.ast_node_interactivity = "all"

In [11]:
num_int=123
num_flo=1.23
num_new=num_int+num_flo

In [10]:
print("datatype of num_int:",type(num_int)) 
print("datatype of num_flo:",type(num_flo)) 
print("Value of num_new:",num_new) 
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

In [12]:
num_int = 123
num_str ='456'

In [13]:
print("Data type of num_int:",type(num_int)) 
print("Data type of num_str:",type(num_str)) 
print(num_int+num_str)

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
print(num_int+int(num_str))

579

In [15]:
message = "What's up, Doc?" 
n = 17
pi = 3.14159
print(message) 
print(n) 
print(pi)

What's up, Doc?
17
3.14159

In [18]:
message='Sup'
print(message)

Sup

In [19]:
message=1
print(message)

1

In [20]:
firstName='Kevin'
print(firstname)

NameError: name 'firstname' is not defined

In [21]:
import=1

SyntaxError: invalid syntax (2216928779.py, line 1)

In [23]:
name = input("What is your name? ")
print(name)

flower

In [24]:
type(name)

str

In [26]:
a = input('First number')
b = input('Second number')
c=a+b
print(c)

1020

In [28]:
a = int(input('First number'))
b = float(input('Second number'))
c=a+b
print(c)

3.0

In [29]:
first_Name = input("What is your first name? ")
last_Name = input("What is your last name? ")
print('Hello '+first_Name+" "+last_Name)

Hello Kevin Ma

In [30]:
a = 5
print('The value of a is', a) # Output: The value of a is 5; space is added here

The value of a is 5

In [31]:
print(1,2,3,4)
# Output: 1 2 3 4

print(1,2,3,4,sep='*') # Output: 1*2*3*4

print(1,2,3,4,sep='#',end='&') # Output: 1#2#3#4& change default \n to &

1 2 3 4
1*2*3*4
1#2#3#4&

In [33]:
fruit ='banana'
letter1= fruit[1]
letter1

'a'

In [34]:
letter2= fruit[0]
letter2

'b'

In [36]:
fruit = 'banana ice cream'
len(fruit)

16

In [37]:
fruit[0] = 'J' #elements in strings are immutable

TypeError: 'str' object does not support item assignment

In [38]:
first = 'boy'
second = 'friend'
first+second
(first+second)*4

'boyfriendboyfriendboyfriendboyfriend'

In [39]:
first = '123'
second = '456'
first+second
(first+second)*4

'123456123456123456123456'

In [41]:
str = 'Hello, Kevin' #not recommend to use str
'K' in str

True

In [64]:
fruit = 'banana'
fruit[:3] # right side not included
fruit[3:] # left side included
fruit[3:3] # empty

'ban'

'ana'

''

In [65]:
#  b   a  n  a  n  a
#  0   1  2  3  4  5
# -6  -5 -4 -5 -2 -1

fruit[:]
fruit[-1]
fruit[-2]
fruit[:-2]
fruit[-2:]

'banana'

'a'

'n'

'bana'

'na'

In [45]:
fruit[:2] + fruit[2:]
fruit[:9] + fruit[9:] #

'banana'

In [47]:
# fruit[9]
fruit[9:]

''

In [48]:
fruit[0:5:2]

'ba'

In [49]:
fruit[0:5:-2]

''

In [51]:
fruit[1:5:2]

'aa'

In [ ]:
fruit[0:5:3]

In [52]:
fruit[::-1]

'ananab'

In [50]:
fruit[::-2]

'aaa'

In [53]:
print ("My name is %s and weight is %d kg!" %('Zara', 21))

My name is Zara and weight is 21 kg!

In [54]:
nBananas = 27
"We have %d bananas." % nBananas

'We have 27 bananas.'

In [55]:
nBananas = 27
"We have %6d bananas." % nBananas

'We have     27 bananas.'

In [56]:
nBananas = 27
"We have %8d bananas." % nBananas

'We have       27 bananas.'

In [59]:
caseCount = 42 
caseContents = "peaches"
print ("We have %d cases of %s today." % (caseCount, caseContents))

We have 42 cases of peaches today.

In [63]:
'%s' % 'soup' # default: aligned right 
'%6s' % 'soup'
'%-10s' % 'soup' # aligned left 
"%d" % 1107
"%5d" % 1107
'%30d' % 1107
'%2d' % 1107 #priority is 4 digit
'%5d' % 505
'%-5d' % 505 
'%05d'%42 #default space;0

'soup'

'  soup'

'soup      '

'1107'

' 1107'

'                          1107'

'1107'

'  505'

'505  '

'00042'

In [66]:
"%f" % 0.0 #default: 6 digits decimal points
"%f" % 1.5
pi =3.141592653589793
"%f" % pi
"%.0f" % pi #rounding
"%.15f" % pi
"%5.1f" % pi
"%5.3f" % pi
"%-5.1f" % pi

'0.000000'

'1.500000'

'3.141593'

'3'

'3.141592653589793'

'  3.1'

'3.142'

'3.1  '

In [72]:
"%d" % (1107/3) #no rounding
"%5d" % (20/3) #no rounding
'%.3f' % (20/3)

'369'

'    6'

ValueError: unsupported format character '-' (0x2d) at index 2

In [74]:
a='%.3f' % (20/3)
a

SyntaxError: invalid syntax (777977890.py, line 1)

In [75]:
# formatting
print("Sammy has {} balloons.".format(5))

Sammy has 5 balloons.

In [81]:
"Hello {0}, your balance is {1: 9.3f}".format('Adam', 230.2346)
#0 index 0
#1, index 1
#9, 9 digits (decimal point included)
# .3, 3 decimal points

'Hello Adam, your balance is   230.235'

In [80]:
'{0}+{1}'.format('James','Laverna')
'{1}+{0}'.format('James','Laverna')

'James+Laverna'

'Laverna+James'

In [84]:
print("Sammy ate {0:.4f} percent of a {1}!".format(75.12345678, "pizza"))


print("Sammy ate {0:.5f} percent of a {1}!".format(75.12345678, "pizza"))


print("Sammy ate {0:.0f} percent of a {1}!".format(75.12345678, "pizza"))

Sammy ate 75.1235 percent of a pizza!
Sammy ate 75.12346 percent of a pizza!
Sammy ate 75 percent of a pizza!

In [85]:
print("Sammy ate {0:.4f} percent of a {1}!".format(75.12345678, "pizza"))


print("Sammy ate {0:.5f} percent of a {1}!".format(75.12345678, "pizza"))


print("Sammy ate {0:.0f} percent of a {1}!".format(75.12345678, "pizza"))

Sammy ate 75.1235 percent of a pizza!
Sammy ate 75.12346 percent of a pizza!
Sammy ate 75 percent of a pizza!

In [83]:
print("Sammy ate {0:10.4f} percent of a {1}!".format(75.12345678, "pizza"))

print("Sammy ate {0:20.0f} percent of a {1}!".format(75.12345678, "pizza"))

# allotted a minimum of 20 places including the "."

Sammy ate    75.1235 percent of a pizza!
Sammy ate                   75 percent of a pizza!

In [ ]:
print("Sammy has {0:<4} red {1:^16}!".format(5,
"balloons"))


print("Sammy has {0:^4} red {1:>16}!".format(5,
"balloons"))

In [ ]:
print("Sammy has {0:*<4} red {1:@^16}!".format(5, "balloons"))


print("Sammy has {0:$^4} red {1:!>16}!".format(5, "balloons"))

In [86]:
for i in range(3,13):
    print(i, i*i, i*i*i)
#align left by default

3 9 27
4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729
10 100 1000
11 121 1331
12 144 1728

In [87]:
for i in range(3,13):
    print("{:3d} {:4d} {:5d}".format(i, i*i, i*i*i))


for i in range(3,13):
    print("{:6d} {:6d} {:6d}".format(i, i*i, i*i*i))

  3    9    27
  4   16    64
  5   25   125
  6   36   216
  7   49   343
  8   64   512
  9   81   729
 10  100  1000
 11  121  1331
 12  144  1728
     3      9     27
     4     16     64
     5     25    125
     6     36    216
     7     49    343
     8     64    512
     9     81    729
    10    100   1000
    11    121   1331
    12    144   1728

In [88]:
for i in range(3,13):
    print("{:^6d} {:^6d} {:^6d}".format(i, i*i, i*i*i))


for i in range(3,13):
    print("{:<6d} {:<6d} {:<6d}".format(i, i*i, i*i*i))

  3      9      27
  4      16     64
  5      25    125
  6      36    216
  7      49    343
  8      64    512
  9      81    729
  10    100    1000
  11    121    1331
  12    144    1728
3      9      27
4      16     64
5      25     125
6      36     216
7      49     343
8      64     512
9      81     729
10     100    1000
11     121    1331
12     144    1728