In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
# String Method
str = "	"; 
print (str.isspace())

str = "	A"; 
print (str.isspace())

True
False

In [3]:
str = "123456";	# Only digit in this string 
print (str.isdigit())

str = " 123456ABC";
print (str.isdigit())

True
False

In [4]:
# Work on letters

message = 'Hello World'

print(message.lower())
print(message.upper())
print(message.swapcase())

hello world
HELLO WORLD
hELLO wORLD

In [5]:
message = 'Hello World'

print(message.find('world'))
print(message.count('o'))
print(message.capitalize())

-1
2
Hello world

In [8]:
str = "this is string example....wow!!!"
print (str.capitalize())

print('this is an example'.capitalize())

This is string example....wow!!!
This is an example

In [9]:
str = "this is string example....wow!!!"; 
print (str.title())

This Is String Example....Wow!!!

In [10]:
str = "this is string example....wow!!! this is really string"

print (str.replace("is", "was"))
print (str.replace("is", "was", 2))

thwas was string example....wow!!! thwas was really string
thwas was string example....wow!!! this is really string

In [11]:
print (str.replace(" is ", " was "))

this was string example....wow!!! this was really string

In [12]:
ss = "bananas are always good" 

print(ss.count("a"))
print(ss.count("s"))
print(ss.count("q"))
print(ss.find("m"))

6
2
0
-1

In [14]:
count = 0
for letter in 'Hello World':
    if(letter == 'o'): count += 1

print(count,'letter o found')

2 letter o found

In [16]:
# empty list
my_list=[]
my_list

# list of integers
my_list = [1, 2, 3]
my_list

# list with mixed datatypes 
my_list = [1, "Hello", 3.4]
my_list

[]

[1, 2, 3]

[1, 'Hello', 3.4]

In [22]:
number_list = [10, 20, 30, 40]
number_list[1]
number_list[2:]
number_list[1:3]
number_list[0:3:2]
number_list[1::2]

20

[30, 40]

[20, 30]

[10, 30]

[20, 40]

In [23]:
guests = ['Christopher','Susan','Bill','Satya']

#print the last entry in the list 
print(guests[-1])

#print the second last entry in the list
print(guests[-2])

Satya
Bill

In [26]:
[1, 2, 3] + [4, 5, 6]
'1, 2, 3'+'4, 5, 6'
'1, 2, 3'[2]

[1, 2, 3, 4, 5, 6]

'1, 2, 34, 5, 6'

' '

In [28]:
# == value 
# is value and type

[1,2,3] is [1,  2,  3]

[1,2,3] == [1,  2,  3]

False

True

In [32]:
# aliasing
a=[1,'hi',1.0,True]
b=[1,'hi',1.0,     True]
c=a

a[1]
b[1]
c[1]

a[1] = 2
a[1]
b[1]
c[1]

temp = a
x = temp
x = x*2 #create a new address




e="1,'hi',1.0,True"
f="1,'hi',1.0,     True"


a

'hi'

'hi'

'hi'

2

'hi'

2

[1, 2, 1.0, True]

In [33]:
guests = ['Christopher','Susan','Bill','Satya']

#this will return the index in the list 
# #where the name Bill is found 

print(guests.index('Bill')) #find only first index
aList = [123, 'xyz', 'zara', 'abc'];

print ("Index for xyz : ", aList.index( 'xyz' ))
print ("Index for zara : ", aList.index( 'zara' ))

2
Index for xyz :  1
Index for zara :  2

In [35]:
names=['Chris', 'James']
ages=[18, 16]
weights=[150, 170]

James_index=names.index('James')
print('Hi', names[James_index],'your age is', ages[James_index])

Hi James your age is 16

In [37]:
list1, list2 = [123, 'xyz', 'zara', 'abc'], [456, 700, 200]
min(list1)

TypeError: '<' not supported between instances of 'str' and 'int'

In [38]:
min(list2)

200

In [43]:
my_list = [[1, 2, 3],[4, 5, 6] ,[7, 8, 9]]
my_list[1]
my_list[1][1]

my_list2 = [[[0,0,1], 2, 3],[4, 5, 6] ,[7, 8, 9]]
my_list2[0]
my_list2[0][1]

[4, 5, 6]

5

[[0, 0, 1], 2, 3]

2

In [45]:
guests = ['Christopher','Susan','Bill','Satya']

#add a new value to the end of the list 

guests.append('Steve')

#display the last value in the list
print(guests[-1])

Steve

In [46]:
t = ['a', 'b', 'c']
x = t.pop(1) 
t
x

['a', 'c']

'b'

In [48]:
t = ['a', 'b', 'c']
del t[1]
t[1]

'c'

In [49]:
t = ['a', 'b', 'c']
t.remove('b') 
t

['a', 'c']

In [50]:
guests = ['Christopher','Susan','Bill','Satya']

#add a new value to the end of the list 
guests.remove('Christopher')

#display the last value in the list
print(guests[0])

Susan

In [51]:
guests = [] 
name = "  " 

while name.upper()!="DONE" :

    name =input("Enter guest name (enter DONE if no more names) :")
    if name.upper() != "DONE" :
        guests.append(name) 

guests.sort()

for guest in guests : 
    print(guest)

Chris
JK
Terry
a
james